<section class="login flex justify-center pt-5">
    <div class="w-full max-w-xs">
      <form action='/login' method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-center text-4xl mb-1">Login</h1>
        <p class="text-center text-gray-600 text-lg mb-3">Login to order your favorite food</p>
        <% if(messages.error) { %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
        <% } %>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input name="email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input name="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******">
        </div>
        <div class="flex items-center">
          <button class="btn-primary rounded  text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" style="width: 100%;" type="submit"> Log In
          </button>
        </div>
      </form>
      <div class="text-center">
        <p class="text-center text-gray-600">Don't have account? 
          <a class="inline-block align-baseline text-sm text-center text-white" href="/register">Register Here</a>
        </p>
      </div>
    </div>
</section>