<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/icons/fontawesome-free-5.14.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Yippie</title>
</head>
<body>
  <!-- navbar -->
    <nav class="container mx-auto flex items-center justify-between py-3">
        <div>
          <h1 class="text-lg font-bold">GreenGrocerr</h1>
        </div>
        <div class="flex items-center">
          <div>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">New</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Menu</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Payment</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Shipping</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">About</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Wishlist</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Contact</a>
          </div>
          <div class="flex items-center ml-16">
            <a class="ml-12" href="#"><i class="fas fa-search"></i></a>
            <a class="ml-12" href="#"><i class="far fa-user"></i></a>
            <a class="cart ml-12 px-4 py-2 rounded-full" href="#"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
    </nav>
  <!-- hero -->
    <section class="hero">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2 leading-tight">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Good Food <br> For Your Everyday</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero.svg" alt="">
            </div>
        </div>
    </section>



  <!-- All items -->
    <!-- <h1 class="title text-xl font-bold mb-8 uppercase">All Items</h1> -->

    <!--* 1st Section -->
    <section class="menu container mx-auto py-8">
      <div class="listings flex mb-5">
      <div class="header-title pb-4">
        <h2 class="item-title font-bold mb-0 text-4xl">When you're hungry now</h2>
        <span class="font-medium text-black text-2xl">The fastest groceries to your door</span>
      </div>
      <div class="viewOptions ml-auto flex items-center">
        <div class="viewAll mr-5">
          <span class="font-semibold"><a href="#">View all</a></span>
        </div>
        <div class="viewMore">
          <span class="arrow arrow-left">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="arrow darker arrow-right">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
        </div>
      </div>

      <div class="grid grid-cols-4 col-gap-12 row-gap-16">

        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768211760.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768211918.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768211966.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212004.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212082.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212151.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212216.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212275.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768212431.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/1605768211760.jpg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name new</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/appetite-1239054_1280.jpeg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/berry-1239093_1280.jpeg" alt="">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Prod name</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">1kg</span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹99</span>
              <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!--! Footer -->

    <section>
      <footer class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
              <span class="ml-3 text-xl">GreenGrocerr</span>
            </a>
            <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Alpha</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Beta</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Gamma</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Theta</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Alpha</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Beta</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Gamma</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Theta</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Alpha</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Beta</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Gamma</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Theta</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Alpha</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Beta</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Gamma</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Theta</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-200">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 tailblocks —
              <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@knyttneve</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
    </section>
    
    <script src="/js/app.js"></script>
</body>
</html>
