    <section class="hero">
        <div class="container mx-auto flex items-center justify-between">
            <div class="first w-1/2 leading-tight">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Good Food <br> For Your Everyday</h1>
                <button class="px-6 py-2 rounded text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero.svg" alt="">
            </div>
        </div>
    </section>


    <section class="category mb-20">
      <h2 class="container mx-auto text-category font-bold text-center items-center text-4xl py-10">Shop By Category</h2>
      <div class="container mx-auto flex flex-1 items-center justify-between">
        
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Fries.svg" alt="">
          </div>
          <h3 class="font-semibold py-1">Fries</h3>
        </div>

        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Salad.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Salad</h3>
        </div>

        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Coffee.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Coffee</h3>
        </div>
       
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Milk.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Milk</h3>
        </div>
        
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Muffin.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Muffin</h3>
        </div>
       
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Tea.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Tea</h3>
        </div>

      </div>
    </section>

  <!-- All items -->
    <!-- <h1 class="title text-xl font-bold mb-8 uppercase">All Items</h1> -->

    <!--* 1st Section -->
    <section class="menu container mx-auto py-8">
      <div class="listings flex mb-5">
      <div class="header-title pb-4">
        <h2 class="item-title font-bold mb-0 text-4xl">When you're hungry now</h2>
        <span class="font-medium text-black text-2xl">The fastest groceries to your door</span>
      </div>
      <div class="viewOptions ml-auto flex items-center">
        <div class="viewAll mr-5">
          <span class="font-semibold"><a href="#">View all</a></span>
        </div>
        <div class="viewMore">
          <span class="arrow arrow-left">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="arrow darker arrow-right">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
        </div>
      </div>

      <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) {%>
          <div class="w-64 p-6 border">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
            <div class="text-center">
              <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
              <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
              <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg">₹<%= pizza.price %></span>
                <button class="add-to-card py-1 px-6 rounded-full flex items-center font-bold">
                  <span>+</span>
                  <span class="ml-4">Add</span>
                </button>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
