    <section class="hero">
        <div class="container mx-auto flex items-center justify-between">
            <div class="first w-1/2 leading-tight">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Good Food <br> For Your Everyday</h1>
            </div>
            <div class="w-1/2">
                <img src="/img/hero.svg" alt="">
            </div>
        </div>
    </section>

    <section class="category">
      <h2 class="container mx-auto text-category font-bold text-center items-center text-4xl py-10">Shop By Category</h2>
      <div class="container mx-auto flex flex-1 items-center justify-between">
        
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Fries.svg" alt="">
          </div>
          <h3 class="font-semibold py-1">Fries</h3>
        </div>

        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Salad.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Salad</h3>
        </div>

        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Coffee.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Coffee</h3>
        </div>
       
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Milk.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Milk</h3>
        </div>
        
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Muffin.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Muffin</h3>
        </div>
       
        <div class="text-center justify-center">
          <div class="bg-gray-400 rounded-full">
            <img src="/img/Tea.png" alt="">
          </div>
          <h3 class="font-semibold py-1">Tea</h3>
        </div>

      </div>
    </section>