<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/icons/fontawesome-free-5.14.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Yippie</title>
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-3">
        <div>
          <h1 class="text-lg font-bold"><a href="/">GreenGrocerr</a></h1>
        </div>
        <div class="flex items-center">
          <div>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">New</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Menu</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Payment</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Shipping</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">About</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Wishlist</a>
            <a class="ml-10 text-sm hover:text-orange-600" href="#">Contact</a>
          </div>
          <div class="flex items-center ml-16">
            <a class="ml-12" href="#"><i class="fas fa-search"></i></a>
            <a class="ml-12" href="#"><i class="far fa-user"></i></a>
            <a class="cart ml-12 px-4 py-2 rounded-full" href="/cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
    </nav>

    <%- body %>

    <!-- <footer>
    </footer> -->

    <script src="/js/app.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>