//* Colors
$orange: #ec5858;
$color-green: rgb(5, 163, 87);

// pizza delivery colors
$primary: #fe5f1e;
// $primary: #6c63ff;
$primary: #05a357;
$primary-hover: #0bb161b9;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

$backgroundColor: #f0fff1;
$backgroundColor: #90EE90;
// $backgroundColor: #fff2d9;

// *transition 
$smooth: all 300ms ease-in-out;
