@tailwind base;

@tailwind components;

@tailwind utilities;

@import './variables';

body {
    background: $gray;
    padding-bottom: 50px;
}

.btn-primary {
    background-color: $orange;
}

.cart {
    background: $orange;
}

.category .container div {
    width: 130.54px;
    height: 130.54px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100px;
    }
}

a {
    transition: $smooth;
}
//* "/cart" route

section.shopping-cart {
    .amount {
        color: $orange
    }
}

//* "/login" route

section.login {
    a {
        color: $orange;
        &:hover {
            color: rgb(189, 50, 0);
        }
    }
}