@tailwind base;

@tailwind components;

@tailwind utilities;

@import './variables';

body {
    background: $pure;
}

.cart {
    background: $color-green;
}

.size{
    background: $secondary;
}

.add-to-card{
    border: 2px solid $color-green;
    color: $color-green;
    &:hover{
        background: $color-green;
        color: $pure;
    }
}

.title {
    text-decoration: underline;
    text-align: center;
}

.btn-primary {
    background: $orange; 
    &:hover {
        background: $orange-hover;
        transition: $smooth;
    }
}

.viewAll {
    color: $color-green;
}
.viewMore {
    .arrow {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        opacity: 0.3;
        border-radius: 50%;
        &.darker,
        &:hover {
            opacity: 1;
            transition: $smooth;
        }
    }
}


.footer{
    border: 2px solid tomato;
    height: 20em;
}

.footer div{
    border: 2px solid rgb(17, 155, 17);
}

